@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

$primary: #FAA61A !default;
$secondary: #151721 !default;

@mixin triangle($size, $color) {

    width: 0;
    height: 0;
    border-style: solid;
    border-width: $size $size 0 0;
    border-color: $color transparent transparent transparent;
    transition: border-width 0.5s;
}

@mixin triangle-inverse($size, $color) {

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 $size;
    border-color: transparent transparent $color transparent;
    transition: border-width 0.5s;
}

.card {
    cursor: pointer;
    position: relative;
    background: $secondary;
    color: #000;
    box-shadow: 0 3px 15px rgba($secondary, 0.2);
    border-radius: 10px;
    transition: .2s ease;

    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    display: grid;
    grid: 300px 0px / 100%;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-width: 40em 0 0 0;
        z-index: 2;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;

        @include triangle-inverse(20em, rgba($secondary, 0.9));
        border-width: 0 0 0px 0px;
        z-index: 2;
    }

    &:hover {
        &:before {
            @include triangle(20em, rgba($primary, 0.7));
        }

        &:after {
            border-width: 0 0 17em 45em;
        }

        .card__info {
            opacity: 1;
            transition: .7s ease;
        }

        .card__image {
            img {
                width: 120%;
                height: 120%;
                transition: .3s ease;
            }
        }
    }


    &__image {
        position: relative;
        grid-row: 1 / 2;
        grid-column: 1 / 2;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30%;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
        }
    }

    &__info {
        z-index: 5;
        align-self: end;
        margin: 0px 20px;
        color: #fff;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        opacity: 0;

        h3 {
            font-size: 1.5em;
            margin: 0.5em;
        }
    }

    &__cta {
        position: relative;
        z-index: 3;

        a {
            outline: none;
            width: 100%;
            text-align: center;
            display: inline-block;
            border: none;
            font: 1em "Open Sans", sans-serif;
            font-weight: 700;
            padding: 10px;
            background: $primary;
            color: #000;
            position: relative;
            top: 0;
            transition: 0.2s ease;
            text-decoration: none;
            box-sizing: border-box;
        }
    }

}