@import '@liberaldemocrats/base-styles';

.flag{
    background: $c-primary;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
    position: relative;
    svg{
        width: 100%;
        position: absolute;
        bottom:5%;
    }
}

.alternative{
    background: $c-secondary;
    svg path{
        fill: #fff;
    }
}       