@import '@liberaldemocrats/base-styles';

.logo{
    max-width: 100%;
    img{
        width:100%;
    }
    .logo__strap{
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        letter-spacing: -0.05rem;
        display: block;
        font-size: 0.8rem;
    }
}