@import '@liberaldemocrats/base-styles';

.logo{
    max-width: 300px;
}

.manifesto{
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    column-gap: $gutter-small;
    row-gap: $gutter-small;
    
    .item{
        
    }
}