@import '@liberaldemocrats/base-styles';


.card {
    cursor: pointer;
    position: relative;
    background: $c-primary;
    color: #000;
    box-shadow: 0 3px 15px rgba(#000, 0.2);
    border-radius: 10px;
    transition: .2s ease;

    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr;
    grid-template-areas: "IMAGE""BUTTON";

    &:hover {

        .card__info {
            opacity: 1;
            transition: .7s ease;
        }

        .card__image {
            &:before {
                top: -200%;
                left: -200%;
                bottom: -100%;
                right: 80%;
            }

            &:after {
                top: -100%;
                left: 50%;
                bottom: -200%;
                right: -129%;
            }

            img {
                filter: blur(2px);
            }
        }

        .cart__cta {
            a {
                background: $c-secondary;
                color: #fff;
            }
        }
    }


    &__image {
        position: relative;
        grid-area: IMAGE;


        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -200%;
            left: -200%;
            bottom: 100%;
            right: 100%;
            background: rgba($c-primary, 0.6);
            z-index: 2;
            transform: rotate(30deg);
            transition: .2s ease;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            left: 100%;
            bottom: -200%;
            right: -200%;
            background: rgba($c-secondary, 0.9);
            z-index: 2;
            transform: rotate(60deg);
            transition: .2s ease;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    &__info {
        grid-area: IMAGE;
        z-index: 5;
        align-self: end;
        margin: 0px $gutter-small;
        color: #fff;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        opacity: 0;
        text-align: right;

        h3 {
            font-size: $f-size-l;
        }
    }

    &__cta {
        position: relative;
        z-index: 3;
        grid-area: BUTTON;

        a {
            outline: none;
            width: 100%;
            height: 100%;
            text-align: center;
            display: inline-block;
            border: none;
            font-weight: 700;
            padding: $gutter-small;
            background: $c-primary;
            color: #000;
            position: relative;
            top: 0;
            transition: 0.2s ease;
            text-decoration: none;
            box-sizing: border-box;
        }
    }

}